/* Reset default styles and import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600&display=swap');

/* General resets and box model */
::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and common styles */
body {
    font-family: 'League Spartan', sans-serif;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    padding: 10px 20px;
    outline: none;
    border: none;
}

/* Header and Navbar */
#header,
#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #E4E6F4;
    padding: 10px 20px;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.24);
}

#navbar {
    
   
    gap: 20px;
}

#navbar  a {
   color: #1a1a1a;
    font-size: 20px;
    font-weight: 500;
    transition: 0.3s ease;
    position: relative;
}


#navbar a:hover,
#navbar a.active{
    color: #088178;

}
#navbar a.active::after{
    content: "";
    width: 70%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 0px;

}


#menu-btn {
    display: none;
    font-size: 25px;
    
}


/* Hero section styles */
#hero {
  
    background-color: #E4E6F4;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-text {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 20px;
}

.hero-text h1 {
   
    font-size: 4vw;
}
.hero-text span{

    color: #088178;
}
.hero-text p {
    font-size: 20px;
    
}

.hero-image {
    width: 40%;
    height: 90vh;
    background-image: url("img/testYoussef/product-1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}



.cta-button {
    margin-top: -52px;
    font-size: 20px;
  margin-left: 70px;   
   color: #088178;
   font-weight: bold;
}


/* Feature box styles */
.grid-container {
    display: grid;
    gap: 20px;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    grid-template-columns: repeat(6, 1fr);
}

.fe-box {
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgb(121, 114, 114);
    box-shadow: 0 2px 8px rgba(99, 99, 99, 0.2);
}

.fe-box img {
    max-width: 100%;
    height: auto;
}

h3 {
    font-size: 20px;
    margin-top: 10px;
}

/* Featured Products section */
#feature-product {
   
   margin-top: 40px;
}

#feature-product h1 {
    font-size: 4vw;
    margin-bottom: 10px;
    text-align: center;
}

#feature-product p {
    font-size: 18px;
    margin-bottom: 40px;
    text-align: center;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.product-box {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    max-width: 300px;
    cursor: pointer;
}

.product-box img {
    max-width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

.des {
    padding: 10px;
}

.des span {
    font-size: 18px;
    color: #888;
}

.des h5 {
    font-size: 20px;
    margin: 10px 0;
}

.star {
    display: flex;
    gap: 2px;
}

.star i {
    color: gold;
    font-size: 18px;
}

.product-box h4 {
    font-size: 24px;
    color: green;
}

.pro-lower {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pro-lower a {
    background-color: rgb(152, 214, 152);
    color: black;
    font-size: 23px;
    padding: 12px;
    margin-top: -10px;
    border-radius: 50%;
}

/* Banners and Newsletter sections */
#banner {
    width: 100%;
    height: 40vh;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("/img/banner/b2.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    margin: 50px auto;
}

#banner h4 {
    font-size: 18px;
}

#banner h2 {
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span {
    color: #ef3636;
}

#banner button {
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: whitesmoke;
    font-size: 18px;
    cursor: pointer;
}

#banner button:hover {
    background-color: rgb(11, 184, 126);
    color: white;
    transition: 0.3s;
}

#sm-banner {
    width: 80%;
    margin: auto;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.b1,
.b2 {
    width: 48%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    padding: 50px;
    justify-content: center;
    background-size: cover;
    background-position: center;
    color: white;
}
.b1{
    background-image: url("img/banner/b17.jpg");
}
.b2{
    background-image: url("img/banner/b10.jpg");
}
.b1 h4,
.b2 h4 {
    font-size: 25px;
    font-weight: lighter;
}

.b1 h2,
.b2 h2 {
    font-size: 40px;
}

.b1 span,
.b2 span {
    font-size: 20px;
}

.b1 button,
.b2 button {
    outline: none;
    border: none;
    font-size: 16px;
    padding: 8px 15px;
    margin-top: 10px;
    font-weight: medium;
}

.b1 button {
    background: transparent;
    border: 1px solid white;
    color: white;
}

.b2 button {
    background: transparent;
    border: 1px solid white;
    color: white;
}

.b1:hover button,
.b2:hover button {
    background-color: rgb(5, 92, 92);
    color: white;
    transition: 0.5s;
}

#banner3 {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.banner3-box {
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: left;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 30px;
    justify-content: center;
}

.banner3-box h2 {
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.banner3-box h3 {
    color: #ef3636;
}

.b3-1{
    background-image: url('img/banner/b7.jpg');
}
.b3-2{
    background-image: url('img/banner/b4.jpg');
}
.b3-3 {
   background-image: url('img/banner/b18.jpg');
}

/* Newsletter section */
#newsletter {
    display: flex;
    
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("img/banner/b14.png");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
    height: 30vh;
    margin: 50px auto;
    color: white;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;

    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
}

#newsletter h4 {
    font-size: 30px;
    font-weight: 700;
}

#newsletter p {
    font-size: 16px;
    font-weight: 600;
    margin: 14px 0;
}

#newsletter p span {
    color: #ffbd27;
}

#newsletter input {
    height: 3.125rem;
    padding: 0 1.20em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    outline: none;
    font-size: 18px;
}

#newsletter button {
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    font-size: 18px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.form{
    display: flex;
}

footer .col{
    display: flex;
    gap: 15px;
    flex-direction: column;
    margin: 20px 5px;
    
}
.app{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    
}
.app img{
    border: 1px solid black;
    border-radius: 5px;
}
.col i{
    font-size: 20px;
}
.lo-footer{
    text-align: center;
    padding: 20px;
    background-color: whitesmoke;
}
/* shop page css */
#shop-hero,#blog-hero,#about-hero{
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: auto 20px;
}
#shop-hero{
    background-image: url('./img/banner/b1.jpg');
}
#about-hero{
    background-image: url('./img/about/banner.png');
}

#shop-hero h2,
#blog-hero h2, #about-hero h2 {
    font-size: 4vw;
}

#shop-hero p,
#blog-hero p, #about-hero p{
    margin-top: 5px;
    font-size: 20px;
}
#pagination{
    height: 30vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: -50px;
}
#pagination a{
    padding: 10px 15px;
    font-size: 22px;
    background-color: #088178;
    color: #fff;
    border-radius: 3px;
}
#pagination a i{
    font-size: 17px;
    font-weight: bold;
}

.row {
    display: flex;
    justify-content: space-between;
    
}

/* Section styles */
#pro-details {
    width: 80%;
    margin: 0 auto;
}

/* Product Content styles */
.pro-content {
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
}
.pro-left{
    width: 35%;
}
.pro-right{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
    padding-left: 20px;
}
.row img{
    width: 24%;
    cursor: pointer;
}

/* Product Image styles */
.pro-image {
    max-width: 100%; /* Set maximum width to 100% */
    height: auto;
}
.pro-right h2{
    margin-top: 40px;
    font-size: 35px;
}
.pro-right p{
    font-size: 22px;
    
}
.pro-right select{
    outline: none;
    padding: 7px 5px;
    border-radius: 4px;
    font-size: 16px;
}
.pro-right h4{
    
    font-size: 25px;
    margin-top: 20px;
}
#quantity{
    width: 50px;
    font-size: 17px;
    padding: 5px;
}
.pro-right button{
    background-color: #088178;
    color: white;
    border-radius: 4px;
    font-size: 17px;
    padding: 7px 10px;
}

#blog-hero{
    background-image: url('/img/banner/b19.jpg');
}
.blog-container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
}

.blog-row {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
   margin-top: 20px;
}

.blog-column {
    flex: 1;
    padding: 10px;
   
}

.blog-image {
    max-width: 100%;
    
    border-radius: 8px;
}
.blog-image{
    width: 100%;
    height: 350px;
    object-fit: cover;

    
}

.blog-title {
    font-size: 2rem;
    margin-top: 10px;
}

.blog-description {
    margin: 20px 0px;
    font-size: 1.2rem;
    color: #555;
}
#about{
    margin: 50px 10px;
}
.about-content{
    
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.about-left{
    width: 50%;
}
.about-right{
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    justify-content: center;
}
.about-left img{
    width: 100%;

}

.about-right h2{
    font-size: 40px;
    
}
.about-right p{
    font-size: 22px;
}
#app{
    padding: 20px;
}
#app h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}
.video-container{
    width: 70%;
    margin: auto;
    height: 500px;
    background-color: #2F2E34;
}
.video-container {
    border-radius: 20px; 
   
}

.video-container video {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ensures the video covers the container */
}

#contact-hero{
    text-align: center;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size:cover;
    color: white;
    background-image: url("./img/about/banner.png");
}

#contact-hero h2{
    font-size: 4vw;
}
#contact-hero p{
    font-size: 20px;
}
#contact{
    
    margin: 50px 10px;
}

.contact-row{
    display: flex;
    width: 80%;
    margin: auto;  
   

}

.contact-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
    padding-right:10px;
}
.contact-right{
    width: 50%;
}
.contact-left p{
    font-size: 20px
    
}
.contact-left i{
    font-size: 20px;
    margin-right: 20px;
}
.contact-left h2{
    font-size: 30px;
    margin: 20px auto;
}
#form{
    margin: 100px 10px;
}
.form-row{
    border: 1px solid black;
    width: 90%;
    margin: auto;
    display: flex;    
}
.form-left{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 50px;
}
.form-left h2{
    font-size: 40px;
}
form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form-left input{
    border: 1px solid rgb(80, 75, 75);
    padding: 8px 12px;
    border-radius: 3px;
    font-size: 17px;
}
form button{
    background-color: #088178;
    color: white;
    border-radius: 3px;
    font-size: 20px;
}
#message{
 font-size: 17px;
 border-radius: 3px;
 padding: 10px;
}

.form-right{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: start;
    justify-content: center;
}
.person{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 5px;

}
.info h4{
    font-size: 23px;
    font-weight: bold;
}
.info p{
    font-size: 18px;
}

#cart{
    padding: 50px 10px;
}
.cart {
    
    max-width: 1024px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.cart-item img {
    max-width: 80px;
    max-height: 80px;
    margin-right: 10px;
    border-radius: 5px;
}

.cart-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    font-weight: bold;
    font-size: 25px;
}

.cart-item h3{
    font-size: 25px;
    margin-bottom: 5px;
}
.cart-item p{
    font-size: 17px;
}
@media (max-width: 768px) {
    #menu-btn {
        display: block;
    }

    #header {
        padding: 10px;
        z-index: 99;
    }

    
    
    #hero {
        min-height: 100vh;
        overflow: hidden;
    }
    
    .hero-content {
        position: relative;
        width: 100%;
        
       
    }
    
    .hero-text {
        width: 90%;
        padding-left: 30px;
        z-index: 1;
       
    }
    
    .hero-text h1 {
       
        margin-top: 100px;
        font-size: 40px;
    }
    
    .hero-image {
        position: absolute;
        right: -180px;
        width: 100%;
        height: 100vh;
}

    
    
    #navbar {
       
        position: absolute;
        height: 100vh;
        width: 100%;
        top: 60px;
        background-color: #E4E6F4;
       
       padding-top: 50px;
        bottom: 0;
        right: -100%;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        transition: 0.5s;
        z-index: 999;
        
    }
    #navbar a{
        font-size: 30px;
        margin: 10px 0px;
    }
    .cta-button {
        margin-bottom: 20px;
    }
    #feature-product h1 {
        font-size: 28px;
    }

    #feature-product p {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .product-box {
        max-width: 90%;
    }
    #sm-banner {
        gap: 20px;
        width: 100%;
        padding: 20px;
        flex-direction: column;
    }
   
    .banner-box {
        width: 100%;
    }
    #banner3 {
        width: 100%;
        flex-direction: column;
        gap: 10px;
    }
    .banner3-box {
        width: 90%;
    }
    #pro-details{
        width: 100%;
    }
    .pro-content {
        width: 100%;
        padding: 10px;
        flex-direction: column;
        margin: 100px auto;
    }
     .pro-left{

        width: 100%;
     }
    .pro-right {
        width: 100%;
        margin-top: 20px; /* Add spacing between image and details */
    }
    .blog-column{
        width: 100%;
    }
    .blog-row{
        flex-direction: column;
    }
    .about-content{
        flex-direction: column;
        width: 100%;
    }
    .about-left,.about-right{
        width: 100%;
    }

    .video-container{
        width: 100%;
    }
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .contact-row{
        width: 100%;
        flex-direction: column;
    }
    .contact-left,.contact-right{
        width: 100%;
    }
    .contact-left{
        margin-bottom: 20px;
    }
    .form-row{
        flex-direction: column;
        width: 100%;
        border: none;
        
    }
    
    .form-left{
        width: 100%;
        padding: 20px;
        margin-bottom: 50px;
    }
    .form-right{
        width: 100%;
       padding-left: 20px;
    }
   
    
}



/* Media query for responsive grid */
@media (min-width: 1200px) {
    .grid-container {
        grid-template-columns: repeat(6, 1fr);
    }
}

@media (max-width: 1199px) and (min-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
    #banner{
        width: 100%;
    }
    #sm-banner{
        width: 100%;
        flex-direction: column;
        gap: 20px;
    }
    .banner-box{
     
        width: 100%;
    }
    #banner3{
        width: 100%;
    }
    .about-content{
        flex-direction: column;
        width: 100%;
    }
    .about-left,.about-right{
        width: 100%;

    }
    .contact-row{
        flex-direction: column;
        width: 95%;
    }
    .contact-left{
        width: 100%;
        margin-bottom: 30px;
        align-items: center;
    }
    .contact-right{
        width: 100%;
    }

    .form-row{
        padding: 30px;
        flex-direction: column;
        width: 95%;
       

    }
    
    .form-left{
        width: 100%;
        padding: 20px;
        margin-bottom: 50px;
    }
    .form-right{
       
        width: 100%;
       
     }
   
    
}

